extends ../layout

block content
    div.single-container
        div.single-close
            a(href="/purses") X

        div.single-title
            //- h1= purse.name
            
        
        div.single-details
            if purse
                div.purse-card-single
                    div.column-1
                        img(src=purse.image alt=purse.name)
                    div.column-2
                        h3= purse.name
                        p= purse.description
                        p Colección // #{purse.collection}
                        p Color // #{purse.color}
                        p Material // #{purse.material}
                        p Precio // #{purse.price} EUR
                        
                        form(action="/shopping-cart", method="post") 
                            input(type="hidden" name='product_id' value=purse.product_id)
                            button(type="submit" name="buy" value=purse.id) AÑADIR
            
            
    