extends ../layout

block header 
    a(href="/home") 
        h1 ROCIO MACHIMBARRENA

    nav.profile-nav
    ul
        li
            a(href="/purses") CATÁLOGO
        li
            a(href="/login") INICIA SESIÓN
        li 
            a(href="/shopping-cart") CARRITO

block content
    h1 Un solo bolso
    if purse
        div.purse-card-single
            img(src=purse.image alt=purse.name)
            h3= purse.name
            p= purse.description
            p Colección: #{purse.collection}
            p Precio: #{purse.price}€
            p Color: #{purse.color}
            p Material: #{purse.material}
            a(href="/purses") Volver a todos los bolsos
    