extends ../layout

block header
    div.shop-header
        div.shop-title
            a(href="/home") 
                h1 ROCIO MACHIMBARRENA

        div.shop-nav
            nav.profile-nav
                ul
                    li
                        a(href="/purses") CATÁLOGO
                    li
                        a(href="/login") INICIAR SESIÓN
                    li 
                        a(href="/shopping-cart") CARRITO

block content
    div.single-container
        div.single-close
            a(href="/purses") X

        div.single-title
            h1= purse.name
            
        
        div.single-details
            if purse
                div.purse-card-single
                    div.column-1
                        img(src=purse.image alt=purse.name)
                    div.column-2
                        h3= purse.name
                        p= purse.description
                        p Colección: #{purse.collection}
                        p Color: #{purse.color}
                        p Material: #{purse.material}
                        p Precio: #{purse.price}€
                        
                        button(type="submit" name="buy" value=purse.id) COMPRAR
            
            
    