extends ../layout

block content
    h1 TU CARRITO DE COMPRA

    if cart && cart.products.length > 0
        - let total = 0
        each purse in cart.products
            - const subtotal = purse.purchase_has_product.subtotal
            - total += subtotal
                div
                    img(src=purse.image alt=purse.name)
                    p= purse.name 
                    form(action="/shopping-cart/update", method="post")
                        input(type="hidden" name='product_id' value=purse.product_id)
                        input(type="number" name=`quantity` value=purse.purchase_has_product.quantity min="1")
                        button(type="submit" name='update' value=purse.purchase_has_product.quantity) ACTUALIZAR
                    form(action="/shopping-cart/delete", method="post")
                        input(type="hidden" name='product_id' value=purse.product_id)
                        button(type="submit" name="remove") ELIMINAR
                    p Subtotal: #{subtotal}€
        p TOTAL: #{total}€

        button(type='submit' name='client-data' id='button-show-data') REVISAR DATOS
        form(action="/shopping-cart/buy", method="post" class='hidden-data' id='form-show-data')
            label(for="address") Dirección
            input(id="address", type="text", name="address",placeholder="Dirección", value=client.address)
            label(for="phone") Teléfono
            input(id="phone", type="text", name="phone",placeholder="Teléfono", value=client.phone)
            button(type="submit" name="buy") FINALIZAR PEDIDO
    else
        p Tu carrito está vacío


    script(src="/js/shopping-cart.js") 