div.title-button-container
    h1(class='section-title') Tus Datos
    a(href=`/client-profile/${client.client_id}/personal-data/update`)
        button Editar
div(class="personal-data")
    if client.user
        p Nombre de usuario: #{client.user.user_name}
        p Email: #{client.user.email}
        p Nombre: #{client.user.first_name}
        p Apellido: #{client.user.last_name}
        p Dirección: #{client.address}
        p Teléfono: #{client.phone}
        p Fecha de registro: #{client.formatted_date}