extends ../layout

block header 
    a(href="/home") 
        h1 ROCIO MACHIMBARRENA
        
block content 
    h1 Bienvenido a tu perfil, UserName

    nav.profile-nav
    ul
        li
            a(href=`/client-profile`) Datos personales
        li
            a(href=`/client-profile/purchase-history`) Historial de compras
        li 
            a(href="/purses") Tienda

    h1 Tus Datos
    article(class="personal-data")
        if personalData
            p Nombre de usuario: #{personalData.user_name}
            p Contraseña: #{personalData.password}
            p Email: #{personalData.email}
            p Nombre: #{personalData.first_name}
            p Apellido: #{personalData.last_name}
            p Dirección: #{personalData.client.address}
            p Teléfono: #{personalData.client.phone}
            p Fecha de registro: #{personalData.register_date}