extends ../layout

block styles 
    link(rel="stylesheet", href="/css/purchase-history.css")

block content
    h1(class='title-history') Tus Compras
    div(class="history")
        each purchase in history
            div.purchase-container 
                div.purchase-info
                    p ID del pedido: #{purchase.purchase_id}
                    p Fecha: #{purchase.date}
                div.purchase-products-container
                    each product in purchase.products
                        div.purchase-products
                            p Producto: #{product.product_name}
                            p Material: #{product.product_material}
                            p Colección: #{product.product_collection}
                            p Cantidad: #{product.product_quantity}
                            p Subtotal: #{product.product_subtotal}€