extends ../layout

block header
    h1 Gestión del negocio 
    a(href="/admin/products") 
        button(type="button") Productos
    a(href="/admin/users") 
        button(type="button") Usuarios
    a(href="/admin/purchase_history") 
        button(type="button") Histórico

block content 
    div.purses-container-admin
        div.create-purse
            a(href=`/admin/products/create`) 
                h3 CREAR BOLSO NUEVO

        div.search-purse
            form.search-form(action="/admin/products/search" method="GET")
                label(for="search") Buscar bolso:
                input(type="text" id="search" name="search" placeholder="Nombre del bolso...")
                button(type="submit") Buscar

        div.show-purses
            h3 BOLSOS DISPONIBLES
            each purse in purses
                div.purse-card-admin
                    p= purse.product_id
                    h3= purse.name
                    p= purse.description
                    p Colección: #{purse.collection}
                    p Precio: #{purse.price}€
                    img(src=purse.image alt=purse.name)
                    p Color: #{purse.color}
                    p Material: #{purse.material}
                    
                    a(href=`/admin/products/${purse.product_id}/update`) ACTUALIZAR
                    
                    form(action=`/admin/products/${purse.product_id}/delete` method="POST")
                        button(type="submit") BORRAR
