extends layout

block styles
    link(rel="stylesheet", href="/css/adminProducts.css")

block content 
    div.purses-container-admin
        div.purses-header
            div.create-purse
                a(href=`/admin/products/create`) 
                    h3 CREAR BOLSO NUEVO

            div.searchbar-purse
                form.search-form(action="/admin/products/search-by" method="GET")
                    label(for="search")
                    input(type="text" id="search" name="search" placeholder="Nombre o ID del bolso...")
                    button(type="submit") Buscar

        div.show-purses
            div.purses-grid
                each purse in purses
                    div.purse-card-admin
                        div.edit-buttons
                            a(href=`/admin/products/${purse.product_id}/update`)
                                button(type="button") ACTUALIZAR
                            form(action=`/admin/products/${purse.product_id}/delete` method="POST")
                                button(type="submit") BORRAR
                        
                        div.purse-header
                            h3.purse-name #{purse.name}
                            h5.purse-id ID: #{purse.product_id}
                        img(src=purse.image alt=purse.name class='purse-img')
                        p.purse-collection Colección: #{purse.collection}
                        p.purse-price Precio: #{purse.price}€
                        p.purse-color Color: #{purse.color}
                        p.purse-material Material: #{purse.material}
                        p.purse-description #{purse.description}

    div.button-pages
        if (page>1)
            a(href=`/admin/products?page=${page-1}`) Anterior 
        if page < 6
            a(href=`/admin/products?page=${page+1}`) Siguiente