extends ../layout

block content 
    h1 Histórico de compraventas
    article
    each client in clients 
            p ID history: #{client.clients_id}
            p ID de la compra: #{client.name}
            p ID del cliente: #{client.address}
            p Fecha: #{client.phone}
            p Status: #{client.user_id}
            p Nombre: #{client.user_id}
            p Cantidad: #{client.user_id}
            p Material: #{client.user_id}
            p Colección: #{client.user_id}

    //Actualizar datos con modelo history//
  