extends layout

block styles
    link(rel="stylesheet", href="/css/adminHistory.css")

block content 
    main.purchase-history-container
        h1.title-purchase-history Registro de pedidos
        article.purchase-history-list
            each purchase in histories 
                section.purchase-history-card
                    p ID del cliente: #{purchase.client_id}
                    p ID de la compra: #{purchase.purchase_id}
                    p Fecha: #{purchase.date}
                    section.purchase-product-list
                        each product in purchase.products
                            - const subtotal = product.product_subtotal
                            - total = (total || 0) + subtotal
                            section.purchase-product-card
                                p Nombre del producto: #{product.product_name}
                                p Material: #{product.product_material}
                                p Colección: #{product.product_collection}
                                p Precio del producto: #{product.product_price}
                                p Cantidad: #{product.product_quantity}
                                p Subtotal: #{subtotal}€
                    p Total: #{total}€