extends ../layout

block header
    h1 Gesti贸n del negocio 
    a(href="/admin/products") 
        button(type="button") Productos
    a(href="/admin/users") 
        button(type="button") Usuarios
    a(href="/admin/purchase_history") 
        button(type="button") Hist贸rico

block content 
    h1 Hist贸rico de compraventas
    article(class="admin-purchase-history")
    each history in histories
            p ID history: #{history.history_id}
            p ID de la compra: #{history.purchase_id}
            p ID del cliente: #{history.client_id}
            p Fecha: #{history.date}
            p Status: #{history.status}
            p Nombre del producto: #{history.product_name}
            p Cantidad: #{history.product_quantity}
            p Material: #{history.product_material}
            p Colecci贸n: #{history.product_collection}
            p Precio del producto: #{history.product_price}
            p Subtotal: #{history.product_subtotal}