extends ../layout

block header
    h1 Gestión del negocio 
    a(href="/admin/products") 
        button(type="button") Productos
    a(href="/admin/users") 
        button(type="button") Usuarios
    a(href="admin/history") 
        button(type="button") Histórico

block content 
    h1 Lista de usuarios
    article(class="admin-users")
    each user in users 
            p ID de user: #{user.user_id}
            p Nombre de usuario: #{user.user_name}
            p Password: #{user.password}
            p Email: #{user.email}
            p Nombre: #{user.first_name}
            p Apellido: #{user.last_name}
            p Fecha de registro: #{user.register_date}
